/**
 * Base Styles
 */
.media-modal * {
	box-sizing: content-box;
}

.media-modal input,
.media-modal select,
.media-modal textarea {
	box-sizing: border-box;
}

.media-modal,
.media-frame {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 12px;
	-webkit-overflow-scrolling: touch;
}

.media-modal legend,
.media-modal label {
	font-size: 13px;
}

.media-frame input,
.media-frame textarea {
	padding: 6px 8px;
}

.media-frame select,
.wp-admin .media-frame select {
	line-height: 28px;
	margin-top: 3px;
}

.media-frame a {
	border-bottom: none;
	color: #0073aa;
}

.media-frame a:hover,
.media-frame a:active {
	color: #00a0d2;
}

.media-frame a:focus {
	box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
	outline: none;
	color: #124964;
}

.media-frame a.button {
	color: #32373c;
}

.media-frame a.button:hover {
	color: #23282d;
}

.media-frame a.button-primary,
.media-frame a.button-primary:hover {
	color: #fff;
}

.media-frame input[type="text"],
.media-frame input[type="password"],
.media-frame input[type="number"],
.media-frame input[type="search"],
.media-frame input[type="email"],
.media-frame input[type="url"],
.media-frame textarea,
.media-frame select {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
}

.media-frame input[type="text"]:focus,
.media-frame input[type="password"]:focus,
.media-frame input[type="number"]:focus,
.media-frame input[type="